<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MOAI-GLFW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E68ED88715E06C290013F6C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E68ED8AD15E06C680013F6C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E68ED8B215E06C890013F6C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E68ED8B915E06C9E0013F6C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E68ED8C715E06D110013F6C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
